//
// To make future updates easier consider overriding the global variables from _variables.bootstrap.scss and _variables.custom.scss for current demo in this file.
// Note that this file is included first and variables defined in _variables.bootstrap.scss and _variables.custom.scss
// are not accessible in this file but you can override any global variable as shown below:
//

// Theme colors (our colors!)
$white: #fffffe;
$darkblue: #094067;
$buttonColor: #168fee;
$lightblue: #90b4ce;
$bluebackground: #d8eefe;
$darkgrey: #5f6c7b;
$cherry: #ef4565;
//

// Primary
$primary: #3da9fc; //mijenjao
$primary-active: #0095e8;
$primary-light: #f1faff;
$primary-light-dark: #212e48;
$primary-inverse: #ffffff;

//secondary
$secondary: 					$bluebackground;
$secondary-dark: 				$bluebackground;

//muted text
$gray-600: #7E8299;
$gray-600-dark: #9393a6;
$gray-700: #323254;
$gray-700-dark: #04042f;
$text-muted: $gray-600;
$text-muted-dark: $gray-600-dark;

//form background
$body-bg: $white;
$body-bg-dark: $darkblue;
$input-bg: $body-bg;
$input-bg-dark: $body-bg-dark;

//dark color
$dark: $darkblue;
$dark-dark: $white;


//form solid input
$input-solid-color-dark: #e3e1e1;
$input-solid-bg: #e3e1e1;
$input-solid-bg-dark: $darkgrey;
$input-solid-placeholder-color-dark: #dad5d5;
$input-solid-bg-focus-dark: #2a2a34;

$info: $buttonColor;
$info-dark: #6395e1;

//border and card border
$border-color: $bluebackground;
$border-color-dark: #073050;
$card-border-color:     							$border-color;
$card-border-color-dark:     	    				$border-color-dark;


//form solid select

$form-select-color-dark: $darkgrey;
$form-select-color: #e3e1e1;




















