//
// To make future updates easier consider overriding the global variables from _variables.bootstrap.scss and _variables.custom.scss for current demo in this file.
// Note that this file is included first and variables defined in _variables.bootstrap.scss and _variables.custom.scss
// are not accessible in this file but you can override any global variable as shown below:
//

// Theme colors (our colors!)
 $white:                                             #fffffe;
 $darkblue:                                          #094067;
 $bluish:                                            #3da9fc;
 $lightblue:                                         #90b4ce;
 $bluebackground:                                    #d8eefe;
 $darkgrey:                                          #5f6c7b;
 $cherry:                                            #ef4565;
//

// Primary
$primary:       									#3da9fc; //mijenjao
$primary-active:    								#0095e8;
$primary-light:    								    #f1faff;
$primary-light-dark:    							#212e48;
$primary-inverse:  									#ffffff;
