.jobCard {
    border-radius: 5px;
    border: solid transparent 0.11rem;
}

.jobCard:hover {
    background: #f3f5fd;
    transition-duration: 500ms;
    border: solid #adc8ff 0.11rem;
}

.jobCard:hover .title{
    color: #da1f5b;
    transition-duration: 100ms;
}

.titleAndDetails:hover {
    cursor: pointer;
}

.logo {
    padding: 3px;
 }

@media screen and (max-width: 575px) {
    .alignedButtons {
        margin-left: 5rem;
    }
}