.boxed-btn {
    background: #fff;
    color: #fb246a;
    display: inline-block;
    padding: 18px 44px;
    font-family: "Muli",sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #fb246a;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boxed-btn:hover {
    background-color: #fb246a;
    color: #fff;
}