:root {
    --white: #fffffe;
    --darkblue: #094067;
    --blue: #3da9fc;
    --lightblue: #90b4ce;
    --bluebackground: #d8eefe;
    --darkgrey: #5f6c7b;
    --cherry: #ef4565;
}

.text-dark {
    color: var(--darkblue) !important;
}

.text-gray-400 {
    color: var(--lightblue) !important;
}

.text-info {
    color: rgb(18, 146, 181) !important;
}

.bg-light-info {
    background: var(--bluebackground) !important;
}