.hero {
    background: rgba(40, 50, 100, 0.75) url(img/hero.jpg) no-repeat;
    background-size: cover;

    min-height: 400px;
}

.overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 400px;
    background: rgba(55, 50, 110, 0.75);
}

.filter, .jobs {
    border: solid #d0cccc 0.11rem;
    border-radius: 3px;
}