.logo {
    height: 5rem;
    width: 5rem;
    border-radius: 5px;
    border: 2px solid #d8ccdc;
    background: #fcfcfc;
}

.companyName {
    letter-spacing: 3px;
}

.xClose {
    position: absolute;
    top: 17px;
    right: 19px;
}

.positionBtns {
    position: absolute;
    top: 86px;
    right: 40px;
}

.modalBody {
    display: grid;
}

.jobDescription {
    grid-column: span 2;
}

@media screen and (max-width: 576px) {
    .jobInformation {
        grid-column: span 2;
    }

    .qualifications {
        grid-column: span 2;
        order: 2;
    }
}