:root {
  --white: #fffffe;
  --darkblue: #094067;
  --blue: #3da9fc;
  --lightblue: #90b4ce;
  --bluebackground: #d8eefe;
  --darkgrey: #5f6c7b;
  --cherry: #ef4565;
}
//
// Theme style
//

// Initialize
@import "init";

// Components
@import "./core/components/components";
@import "components/components";

// Layout
@import "./core/layout/base";
@import "layout/layout";