.filledButton {
    background: #fb246a;
    color: #fff;
    margin-right: 5px;
    padding: 27px 27px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 0;
    border-radius: 0px;
    transition: background-color 0.4s ease;
    position: relative;
    overflow: hidden;
    border: 1px solid transparent;
}
.filledButton:hover {
    background-color: #fff;
    color: #fb246a;
    border: 1px solid #fb246a;
}

.lightButton {
    background-color: #fff;
    -moz-user-select: auto;
    cursor: pointer;
    margin-right: 5px;
    padding: 27px 27px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 0;
    border-radius: 0px;
    transition: color 0.4s ease;
    position: relative;
    border: 1px solid #fb246a;
    overflow: hidden;
    color: #fb246a;
}
.lightButton:hover {
    background-color: #fb246a;
    color: #fff;
    border: 1px solid #fb246a;
}
.closeButton{
    background-color: #010b1d;
}
.closeButton:hover{
    background-color: #021538;
}
.closeButtonLight{
    background-color: #fb246a;
}
.closeButton:hover{
    background-color: #021538;
}

.smallBtn {
    padding: 18px;
    border-radius: 4px;
}

.tinyBtn {
    padding: 0.6rem;
    border-radius: 3px;
}